.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  flex-direction: column;
  justify-content: space-between;

  .auth-wrapper {
    position: absolute;
    inset: 0;
    min-height: 100vh;
    min-height: 100dvh;
    z-index: -1;

    background-color: rgb(172, 172, 172);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: darken
  }

  .content-area {
    min-height: 50vh;
    min-height: 50dvh;
  }
}
