<div class="main-content py-2" style="flex: 1">
  <div class="container py-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
        <div class="col-lg-3 col-md-4 col-4 wow fadeInUp" data-wow-delay="0.3s">
          <app-home-category-card />
        </div>
      </div>
    </div>
  </div>
</div>
