.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 2rem;
  flex-direction: column;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .login-form {
    .login-form-margin {
      margin-bottom: 2rem;
    }

    .login-form-button {
      width: 100%;
    }

    .login-form-forgot {
      align-self: flex-end;
    }
  }
}
