<div class="wrapper">
  <mat-card
    class="shadow"
    style="padding: 2rem 1rem; width: 400px; padding-inline-start: 0.5rem"
  >
    @if(isLoading){
    <div
      class="loader-holder"
      style="
        align-self: center;
        place-self: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <app-mini-loader></app-mini-loader>
    </div>
    } @else {
    <mat-card-content class="login-form w-100 mb-4">
      <form [formGroup]="login_form" (ngSubmit)="submitForm(login_form)">
        <mat-form-field appearance="outline" class="w-100">
          <fa-icon
            matPrefix
            [icon]="faUser"
            style="padding-inline-start: 0.5rem"
          ></fa-icon>
          <mat-label style="padding-inline-start: 0.5rem">Email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            [errorStateMatcher]="matcher"
            placeholder=""
            style="padding-inline-start: 0.5rem"
          />
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="w-100"
          style="padding-block-start: 0.5rem"
        >
          <fa-icon
            matPrefix
            [icon]="faPassword"
            style="padding-inline-start: 0.5rem"
          ></fa-icon>
          <mat-label style="padding-inline-start: 0.5rem">Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            [errorStateMatcher]="matcher"
            placeholder=""
            style="padding-inline-start: 0.5rem"
          />
        </mat-form-field>
        <div class="container-fluid">
          <div class="row align-items-center justify-content-between">
            <div class="col-6 px-0">
              <mat-checkbox style="padding-inline-start: 0.5rem"
                ><span style="color: #2a58bb">Remember me</span></mat-checkbox
              >
            </div>
            <div class="col-6 text-end px-0">
              <a
                style="color: #2a58bb; cursor: pointer"
                (click)="forgotPassword()"
                >Forgot password</a
              >
            </div>
          </div>
        </div>
        <button
          mat-flat-button
          class="login-form-button text-uppercase"
          style="flex: 1; margin-block: 1rem; border-radius: 0.5rem"
        >
          Sign In
        </button>
      </form>
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <p class="col-6" style="margin: auto 0; font-size: .9rem">Don't have an account?</p>
          <button
            (click)="signUpBtnClicked()"
            mat-raised-button
            class="col-6"
            style="flex: 1"
          >
            Sign Up
          </button>
        </div>
      </div>
    </mat-card-content>
    <!-- <mat-divider></mat-divider>
    <app-o-auth /> -->
    }
  </mat-card>
</div>
