:root.dark {
  --sys-background: #131318;
  --sys-on-background: #e5e1e9;
  --sys-surface: #131318;
  --sys-surface-dim: #131318;
  --sys-surface-bright: #39383f;
  --sys-surface-container-lowest: #0e0e13;
  --sys-surface-container-low: #1b1b21;
  --sys-surface-container: #201f25;
  --sys-surface-container-high: #2a292f;
  --sys-surface-container-highest: #35343a;
  --sys-on-surface: #e5e1e9;
  --sys-surface-variant: #47464f;
  --sys-on-surface-variant: #c8c5d0;
  --sys-inverse-surface: #e5e1e9;
  --sys-inverse-on-surface: #313036;
  --sys-outline: #928f9a;
  --sys-outline-variant: #47464f;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #c3c0ff;
  --sys-primary: #c3c0ff;
  --sys-on-primary: #2b2a60;
  --sys-primary-container: #424078;
  --sys-on-primary-container: #e2dfff;
  --sys-inverse-primary: #5a5891;
  --sys-secondary: #c3c0ff;
  --sys-on-secondary: #2c2a60;
  --sys-secondary-container: #424078;
  --sys-on-secondary-container: #e2dfff;
  --sys-tertiary: #d4bbfc;
  --sys-on-tertiary: #3a255b;
  --sys-tertiary-container: #513c74;
  --sys-on-tertiary-container: #ecdcff;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #78767d;
  --sys-neutral-variant: #787680;
  --sys-primary-fixed: #e2dfff;
  --sys-primary-fixed-dim: #c3c0ff;
  --sys-on-primary-fixed: #16134a;
  --sys-on-primary-fixed-variant: #424078;
  --sys-secondary-fixed: #e2dfff;
  --sys-secondary-fixed-dim: #c3c0ff;
  --sys-on-secondary-fixed: #16134a;
  --sys-on-secondary-fixed-variant: #424078;
  --sys-tertiary-fixed: #ecdcff;
  --sys-tertiary-fixed-dim: #d4bbfc;
  --sys-on-tertiary-fixed: #240e45;
  --sys-on-tertiary-fixed-variant: #513c74;
  --sys-inverse-secondary: #5a5891;
  --sys-inverse-tertiary: #69548d;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
