:root,
:host {
  --sys-background: #faf8ff;
  --sys-on-background: #1a1b21;
  --sys-surface: #faf8ff;
  --sys-surface-dim: #dad9e0;
  --sys-surface-bright: #faf8ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f4f3fa;
  --sys-surface-container: #eeedf4;
  --sys-surface-container-high: #e9e7ef;
  --sys-surface-container-highest: #e3e1e9;
  --sys-on-surface: #1a1b21;
  --sys-surface-variant: #e2e2ec;
  --sys-on-surface-variant: #45464f;
  --sys-inverse-surface: #2f3036;
  --sys-inverse-on-surface: #f1f0f7;
  --sys-outline: #757680;
  --sys-outline-variant: #c5c6d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #4c5c92;
  --sys-primary: #4c5c92;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #dce1ff;
  --sys-on-primary-container: #344479;
  --sys-inverse-primary: #b6c4ff;
  --sys-secondary: #4b5c92;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #dbe1ff;
  --sys-on-secondary-container: #334478;
  --sys-tertiary: #505b92;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #dde1ff;
  --sys-on-tertiary-container: #384379;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #76767d;
  --sys-neutral-variant: #75767f;
  --sys-primary-fixed: #dce1ff;
  --sys-primary-fixed-dim: #b6c4ff;
  --sys-on-primary-fixed: #03174b;
  --sys-on-primary-fixed-variant: #344479;
  --sys-secondary-fixed: #dbe1ff;
  --sys-secondary-fixed-dim: #b4c5ff;
  --sys-on-secondary-fixed: #01174b;
  --sys-on-secondary-fixed-variant: #334478;
  --sys-tertiary-fixed: #dde1ff;
  --sys-tertiary-fixed-dim: #b9c3ff;
  --sys-on-tertiary-fixed: #08164b;
  --sys-on-tertiary-fixed-variant: #384379;
  --sys-inverse-secondary: #b4c5ff;
  --sys-inverse-tertiary: #b9c3ff;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
