<div class="banner w-100 shadow" style="position: relative">
  <div class="d-flex flex-column gap-5 w-100">
    <h3 class="section_title text-center">Search for your favourite vendor:</h3>
      <div class="row w-100 d-flex justify-content-center align-items-center gap-5">
        <div class="col-lg-6 col-12">
          <app-banner-booking></app-banner-booking>
        </div>
        <div class="col-lg-6 col-12">
          <app-booking-map></app-booking-map>
        </div>
      </div>
  </div>
</div>
