<div class="container">
  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title text-center text-uppercase">top faces</h6>
    <h1 class="mb-5">
      Our
      <span class="text-uppercase">highest rated</span> Providers
    </h1>
  </div>
  <div class="row g-4">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
      <app-home-providers-card />
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
      <app-home-providers-card />
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
      <app-home-providers-card />
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
      <app-home-providers-card />
    </div>
  </div>
</div>
