<!-- Footer Start -->
<div
  class="container-fluid footer wow fadeIn shadow"
  data-wow-delay="0.1s"
  style="
    font-size: 0.875rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  "
>
  <div class="container">
    <div class="copyright">
      <div class="row align-items-center">
        <div class="col-lg-8 text-center  text-lg-start mb-3 mb-md-0">
          &copy;<a style="text-decoration: none;" routerLink=''
            >Jaky</a
          >, All Right Reserved. Designed By
          <a style="text-decoration: none;" routerLink=''
            >Swizzy Industries</a
          >
        </div>
        <div class="col-lg-4 text-center text-md-end">
          <div
            class="footer-menu d-flex align-items-center justify-content-between"
          >
            <a
              class="btn btn-outlined"
              style="text-decoration: none"
              routerLink="swizzy"
              >The Developer</a
            >
            <a
              class="btn btn-outlined"
              style="text-decoration: none"
              routerLink="help-and-faq"
              >Help And FAQ</a
            >
            <a
              class="btn btn-outlined"
              style="text-decoration: none"
              routerLink="terms-and-conditions"
              >Terms And Conditions</a
            >
            <a
              class="btn btn-outlined"
              style="text-decoration: none"
              routerLink="privacy-policy"
              >Privacy Policy</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
