<!-- Footer Start -->
<div
  class="container-fluid bg-dark text-light footer wow fadeIn"
  data-wow-delay="0.1s"
  style="font-size: 0.875rem; border-top-left-radius: 2rem; border-top-right-radius: 2rem;"
>
  <div class="container pb-5">
    <div class="row g-5 pt-5">
      <div class="col-md-6 col-lg-3">
        <div class="bg-primary rounded p-4" style="font-size: 0.875rem">
          <a style="text-decoration: none" href=""
            ><h1 class="text-white text-uppercase mb-3">Jaky</h1></a
          >
          <p class="text-dark mb-0">
            A product from
            <a class="text-dark fw-medium" style="text-decoration: none" href=""
              >JakyTech Company ltd</a
            >. A strong physical prescence on top of psychological dominance is
            the essence to motivation and better results in their endeavours.
          </p>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="row gy-5 g-4">
          <div
            class="col-md-12 col-lg-4 d-flex justify-content-start align-items-start"
            style="flex-direction: column"
          >
            <h6
              class="section-title text-start text-primary text-uppercase mb-4"
            >
              Company
            </h6>
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >About Us</a
            >
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >Privacy Policy</a
            >
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >Terms & Condition</a
            >
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >Support</a
            >
          </div>
          <div
            class="col-md-12 col-lg-4 d-flex justify-content-center align-items-start"
            style="flex-direction: column"
          >
            <h6
              class="section-title text-start text-primary text-uppercase mb-4"
            >
              Services
            </h6>
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >Hair Cut</a
            >
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >Salon</a
            >
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >Spa & Massage</a
            >
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >Cosmetics</a
            >
            <a
              class="btn btn-link text-white d-block"
              style="text-decoration: none; font-size: 0.875rem"
              href=""
              >Manicure & Pedicure</a
            >
          </div>
          <div class="col-md-12 col-lg-4">
            <h6
              class="section-title text-start text-primary text-uppercase mb-4"
            >
              Contact
            </h6>
            <span
              class="d-block mb-2"
              style="width: fit-content; font-size: 0.875rem"
            >
              <fa-icon [icon]="faMapMarkerAlt" class="me-3"></fa-icon>One
              Padmore Place, Kilimani, Nairobi
            </span>
            <span
              class="d-block mb-2"
              style="width: fit-content; font-size: 0.875rem"
            >
              <fa-icon [icon]="faPhoneAlt" class="me-3"></fa-icon>+254 708
              654984
            </span>
            <span
              class="d-block mb-2"
              style="width: fit-content; font-size: 0.875rem"
            >
              <fa-icon [icon]="faEnvelope" class="me-3"></fa-icon
              >info&#64;jakytech.com
            </span>
            <div class="d-flex pt-2 gap-2">
              <a
                class="btn btn-outline-light btn-social rounded"
                style="text-decoration: none"
                href=""
                ><fa-icon [icon]="faXTwitter"></fa-icon
              ></a>
              <a
                class="btn btn-outline-light btn-social rounded"
                style="text-decoration: none"
                href=""
                ><fa-icon [icon]="faFacebookF"></fa-icon
              ></a>
              <a
                class="btn btn-outline-light btn-social rounded"
                style="text-decoration: none"
                href=""
                ><fa-icon [icon]="faYoutube"></fa-icon
              ></a>
              <a
                class="btn btn-outline-light btn-social rounded"
                style="text-decoration: none"
                href=""
                ><fa-icon [icon]="faLinkedinIn"></fa-icon
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-lg-8 text-center text-md-start mb-3 mb-md-0">
          &copy;<a
            class="border-bottom text-white"
            style="text-decoration: none"
            href=""
            >Jaky</a
          >, All Right Reserved. Designed By
          <a
            class="border-bottom text-white"
            style="text-decoration: none"
            href=""
            >Swizzy Industries</a
          >
        </div>
        <div class="col-lg-4 text-center text-md-end">
          <div
            class="footer-menu d-flex align-items-center justify-content-between"
          >
            <a
              class="btn btn-outlined text-secondary"
              style="text-decoration: none"
              href=""
              >The Developer</a
            >
            <a
              class="btn btn-outlined text-secondary"
              style="text-decoration: none"
              href=""
              >Cookies</a
            >
            <a
              class="btn btn-outlined text-secondary"
              style="text-decoration: none"
              href=""
              >Help</a
            >
            <a
              class="btn btn-outlined text-secondary"
              style="text-decoration: none"
              href=""
              >FQAs</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
