<div class="wrapper">
  <mat-card
    class="bg-light"
    style="padding: 2rem 1rem; width: 400px; font-size: 12px; padding-inline-start: 0.5rem;"
  >
    <mat-card-content class="login-form w-100">
      <form [formGroup]="login_form" (ngSubmit)="submitForm(login_form)">
        <mat-form-field class="w-100">
          <fa-icon matPrefix [icon]="faUser" style="padding-inline-start: 0.5rem;"></fa-icon>
          <mat-label style="font-size: 12px; padding-inline-start: 0.5rem;">Username</mat-label>
          <input
            matInput
            type="text"
            formControlName="userName"
            [errorStateMatcher]="matcher"
            placeholder=""
            style="font-size: 12px; padding-inline-start: 0.5rem;"
          />
        </mat-form-field>
        <mat-form-field class="w-100" style="padding-block-start: 0.5rem;">
          <fa-icon matPrefix [icon]="faPassword" style="padding-inline-start: 0.5rem;"></fa-icon>
          <mat-label style="font-size: 12px; padding-inline-start: 0.5rem;">Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            [errorStateMatcher]="matcher"
            placeholder=""
            style="font-size: 12px; padding-inline-start: 0.5rem;"
          />
        </mat-form-field>
        <div class="container-fluid">
          <div class="row align-items-center justify-content-between">
            <div class="col-6 px-0">
              <mat-checkbox style="font-size: 12px; padding-inline-start: 0.5rem;">Remember me</mat-checkbox>
            </div>
            <div class="col-6 text-end px-0">
              <a>Forgot password</a>
            </div>
          </div>
        </div>
        <button
          mat-flat-button
          class="login-form-button text-uppercase text-white"
          style="flex: 1; margin-bottom: 1rem; border-radius: 0.5rem"
        >
          Sign In
        </button>
      </form>
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <p class="text-dark col-6" style="margin: auto 0">
            Don't have an account?
          </p>
          <button
            (click)="signUpBtnClicked()"
            mat-raised-button
            class="text-dark col-6"
            style="flex: 1"
          >
            Sign Up
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
