mat-nav-list > a,
mat-nav-list > div > a {
  span, fa-icon {
    font-size: .75rem;
  }
  &:hover {
    border-radius: 0;
  }
}

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
}
