<div class="container">
  <div class="bg-white shadow col-lg-7" style="padding: 15px; border-radius: 1rem; margin-inline: auto; margin-top: 1rem;">
    <div class="row g-2">
      <div class="col-md-12">
        <div class="row g-2">
          <div class="col-md-12">
            <div class="date" id="date1" data-target-input="nearest">
              <input
                type="text"
                class="form-control datetimepicker-input"
                placeholder="Vendor or business name..."
                data-target="#date1"
                data-toggle="datetimepicker"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-primary w-100">Submit</button>
      </div>
    </div>
  </div>
</div>
