<form
  class="d-flex justify-content-center align-items-center flex-column"
  [formGroup]="home_banner_search"
  (ngSubmit)="submitForm(home_banner_search)"
>
  <mat-form-field appearance="outline" class="w-100">
    <fa-icon
      matPrefix
      [icon]="faSearch"
      style="padding-inline-start: 0.5rem"
    ></fa-icon>
    <mat-label style="padding-inline-start: 0.5rem">Search here...</mat-label>
    <input
      matInput
      type="text"
      formControlName="searchTxt"
      [errorStateMatcher]="matcher"
      style="padding-inline-start: 0.5rem"
    />
  </mat-form-field>

  <div class="col-md-12">
    <button mat-flat-button class="w-100" style="border-radius: .5rem;">Search</button>
  </div>
</form>
