<!-- Carousel Start -->
<!-- <div class="container-fluid p-0 mb-5"> -->
  <!-- <app-banner-carousel /> -->
<!-- </div> -->
<!-- Carousel End -->

<!-- Categories Start -->
<!-- <div class="container-xxl py-5"> -->
  <!-- <app-main-categories /> -->
<!-- </div> -->
<!-- Categories End -->

<!-- Service Start -->
<!-- <div class="container-xxl py-5 bg-dark" style="border-radius: 2rem;"> -->
  <!-- <app-services /> -->
<!-- </div> -->
<!-- Service End -->

<!-- Providers Start -->
<!-- <div -->
  <!-- class="container my-5 py-5"> -->
  <!-- <app-popular-providers /> -->
<!-- </div> -->
<!-- Providers End -->

<!-- Back to Top -->
<!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" -->
  <!-- ><fa-icon [icon]="faArrowUp"></fa-icon -->
<!-- ></a> -->
