<p style="padding-block-start: 2rem; font-size: 1rem" class="text-center">
  or
  <span class="text-capitalize"> sign in with</span>
</p>

<div class="wrapper">
  <button
    mat-fab
    extended
    style="background-color: goldenrod"
    (click)="googleAuthBtnClicked()"
  >
    <fa-icon [icon]="faGoogleG"></fa-icon>
  </button>
  <!-- <button
    mat-fab
    extended
    style="background-color: #1877f2"
    (click)="facebookAuthBtnClicked()"
  >
    <fa-icon [icon]="faFacebookF"></fa-icon>
  </button> -->
</div>
