<a style="text-decoration: none;" class="service-item rounded" href="">
  <div class="service-icon bg-transparent border rounded p-1">
    <div
      class="w-100 h-100 border rounded d-flex align-items-center justify-content-center"
    >
      <fa-icon [icon]="faDumbbell" class="fa-2x text-primary"></fa-icon>
    </div>
  </div>
  <h5 class="mb-3">GYM & Yoga</h5>
  <p class="text-body mb-0">
    Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed
    diam stet diam sed stet lorem.
  </p>
</a>
