<div class="rounded shadow overflow-hidden">
  <div class="position-relative">
    <!-- <img class="img-fluid" src="assets/images/gallery/rdne-barber.jpg" alt="" /> -->
    <div
      class="d-flex align-items-center justify-content-center"
    >
      <a class="btn btn-square mx-1" href=""
        ><fa-icon [icon]="faFacebookF"></fa-icon
      ></a>
      <a class="btn btn-square mx-1" href=""
        ><fa-icon [icon]="faXTwitter"></fa-icon
      ></a>
      <a class="btn btn-square mx-1" href=""
        ><fa-icon [icon]="faInstagram"></fa-icon
      ></a>
    </div>
  </div>
  <div class="text-center p-4 mt-3">
    <h5 class="fw-bold mb-0">Full Name</h5>
    <small>Designation</small>
  </div>
</div>
