/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$colors-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$magenta-palette
    )
  )
);

$typography-theme: mat.define-theme(
  (
    typography: (
      brand-family: 'PT Sans',
      bold-weight: 900
    ),
  )
);

$form-field-theme: mat.define-theme(
  (
    density: (
      scale: -4
    )
  )
);

:root {
  @include mat.all-component-themes($typography-theme);
  @include mat.all-component-themes($colors-theme);
  @include mat.form-field-density($form-field-theme);
}
