<form [formGroup]="photosDetails">
  <div class="row pt-4 pb-4 gap-4 justify-content-evenly">
    <div
      class="control-container col-6 align-items-center"
      [style.width]="imageWidth() + 'px'"
    >
      <h6 class="text-uppercase text-center text-white">Personal Photos:</h6>
      <div class="image-container">
        <img
          [src]="personalImageSource()"
          [width]="imageWidth()"
          [height]="imageHeight()"
          class="mat-elevation-z5"
          [style.opacity]="personalImagesUploading() ? 0.5 : 1"
        />
        @if(personalImagesUploading()){
        <mat-progress-spinner [diameter]="50" mode="indeterminate" />
        }
      </div>
      <div class="row">
        <div class="text-center">
          <input
            #inputField
            hidden
            type="file"
            (change)="personalFileSelected($event)"
            (click)="inputField.value = ''"
            multiple
          />
          <button mat-raised-button (click)="inputField.click()">
            Select Photos
          </button>
        </div>
      </div>
    </div>
    <div
      class="control-container col-6 align-items-center"
      [style.width]="imageWidth() + 'px'"
    >
      <h6 class="text-uppercase text-center text-white">Business Photos:</h6>
      <div class="image-container">
        <img
          [src]="businessImageSource()"
          [width]="imageWidth()"
          [height]="imageHeight()"
          class="mat-elevation-z5"
          [style.opacity]="businessImagesUploading() ? 0.5 : 1"
        />
        @if(businessImagesUploading()){
        <mat-progress-spinner [diameter]="50" mode="indeterminate" />
        }
      </div>
      <div class="row">
        <div class="text-center">
          <input
            #inputField2
            hidden
            type="file"
            (change)="businessFileSelected($event)"
            (click)="inputField.value = ''"
            multiple
          />
          <button mat-raised-button (click)="inputField2.click()">
            Select Photos
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center gap-2">
    <button
      mat-flat-button
      [disabled]="!photosDetails.valid"
      matStepperNext
      (click)="submitPhotoDetails()"
    >
      Finalize
    </button>
  </div>
</form>
