.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
