.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .forgot-password {
    .forgot-password-margin {
      margin-bottom: 2rem;
    }

    .forgot-password-button {
      width: 100%;
    }

    .forgot-password-forgot {
      align-self: flex-end;
    }
  }
}
