<div class="room-item shadow rounded overflow-hidden">
  <div class="position-relative">
    <img
      class="img-fluid"
      src="https://plchldr.co/i/300x200?text=&bg=111111&fc=CCCCCC"
      alt=""
      style="width: 100%; object-fit: cover"
    />
  </div>
  <div
    class="p-4 mt-2 text-center d-flex flex-column align-items-center justify-content-center"
  >
    <h5 class="mb-3 text-center">Executive Suite</h5>
    <div class="ps-2 mb-5 text-center">
      <small class="fa fa-star">
        <fa-icon [icon]="faStar"></fa-icon>
      </small>
      <small class="fa fa-star">
        <fa-icon [icon]="faStar"></fa-icon>
      </small>
      <small class="fa fa-star">
        <fa-icon [icon]="faStar"></fa-icon>
      </small>
      <small class="fa fa-star">
        <fa-icon [icon]="faStar"></fa-icon>
      </small>
      <small class="fa fa-star">
        <fa-icon [icon]="faStar"></fa-icon>
      </small>
      <small><span>&nbsp;(0 ratings)</span></small>
    </div>
    <div class="d-md-block d-none mb-3 align-items-center justify-content-center gap-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis error
        autem suscipit.
      </p>
    </div>
    <div class="d-flex mb-3 align-items-center justify-content-center gap-2 w-100">
      <small class="border-end text-center w-100"
        ><fa-icon [icon]="faBed" class="d-block text-center"></fa-icon
        >Bed</small
      >
      <small class="border-end text-center w-100"
        ><fa-icon [icon]="faBath" class="d-block text-center"></fa-icon
        >Bath</small
      >
      <small class="text-center w-100"
        ><fa-icon [icon]="faWifi" class="d-block text-center"></fa-icon
        >Wifi</small
      >
    </div>
    <button
      mat-flat-button
      routerLink=""
      style="border-radius: 0.5rem"
      class="w-100"
    >
      Book
    </button>
  </div>
</div>
