<div class="wrapper">
  <mat-card
    class="shadow"
    style="padding: 2rem 1rem; width: 400px; padding-inline-start: 0.5rem"
  >
    <mat-card-content class="verify-email w-100">
      <div class="container">
        <div class="row pb-2">
          <h3 class="text-muted">Email unverified</h3>
          <p>
            Kindly verify your email. This is a security feature implemented so as to avoid impersonation. You will be required to click on the link in the email to proceed.
          </p>
        </div>
        <div class="row align-items-center justify-content-between mb-4">
          <button
            (click)="verifyBtnClicked()"
            mat-flat-button
            class="text-uppercase"
            style="flex: 1; border-radius: .5rem;"
          >
            Verify
          </button>
        </div>
        <div class="row align-items-center justify-content-between gap-4">
          <button
            (click)="signUpBtnClicked()"
            mat-raised-button
            class="col-6"
            style="flex: 1; border-radius: .5rem;"
          >
            Register
          </button>
          <button
            (click)="signInBtnClicked()"
            mat-raised-button
            class="col-6"
            style="flex: 1; border-radius: .5rem;"
          >
            Login
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

