<div class="container">
  <div class="text-center wow fadeInUp text-white" data-wow-delay="0.1s">
    <h6 class="section-title text-center text-primary text-uppercase">
      Our Services
    </h6>
    <h1 class="mb-5 text-capitalize text-white">
      what we <span class="text-primary text-uppercase">offer</span>
    </h1>
  </div>
  <div class="row g-4">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
      <app-home-service-card />
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
      <app-home-service-card />
    </div>
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
      <app-home-service-card />
    </div>
  </div>
</div>
